{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./", "./src"]
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "removeImport": true,
        "ignoreFilenames": ["node_modules"]
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
