{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": [2, 120],
    "react/jsx-filename-extension": 0,
    "arrow-parens": ["error", "as-needed"],
    "react/destructuring-assignment": 0,
    "comma-dangle": ["error", "never"],
    "object-curly-newline": 0,
    "react/jsx-props-no-spreading": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [".", "src", "node_modules"],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
